<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
<h1>Url List</h1>

<table border="1">
    <thead>
    <tr>
        <th>url</th>
        <th>address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wareHouse : ${wareHouse}">
        <td th:text="${wareHouse.code}">code</td>
        <td th:text="${wareHouse.address}">address</td>
        <td th:text="${wareHouse.phone}">phone</td>
        <td>
            <a th:href="@{/wareHouseIsert}" class="button">입력</a>
            <a th:href="@{/wareHouse/update/{code}(code=${wareHouse.code})}" class="button">수정</a>
            <form th:action="@{/wareHouse/delete/{code}(code=${wareHouse.code})}" method="post">
                <button type="submit" class="button">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
