<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wareHouse Administration</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .form-container {
            margin-bottom: 20px;
        }
        .form-container input {
            margin: 5px;
        }
    </style>
</head>
<body>
<h1>wareHouse Administration</h1>
<div class="form-container">
    <h3>Add/Update wareHouse</h3>
    <form id="wareHouseForm" action = "/wareHouse/insert" method = "post">
        <input type="text" id="code" name="code" placeholder="Code code">
        <input type="text" id="address" name = "address" placeholder="address" required>
        <input type="text" id="phone" name="phone" placeholder="phone">
        <button type="submit">Submit</button>
    </form>
</div>
</body>
