<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contains</title>
</head>
<body>
<h1>Update Contains</h1>

<form th:action="@{/contains/update/{id}(id=${containsDto.id})}" method="post">

    <div>
        <label for="number">number:</label>
        <input type="number" id="number" name="number" th:value="${containsDto.number}" required>
    </div>

    <button type="submit">Update contains</button>
</form>


<button onclick="location.href='/contains'">Back to contains List</button>

</body>
</html>
