<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Author</title>
</head>
<body>
<h1>Update Author</h1>

<!-- 에러 메시지 출력 -->
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/author/update/{name}(name=${authorDto.name})}" method="post">

    <div>
        <label for="authorName">authorName:</label>
        <input type="text" id="authorName" name="authorName" th:value="${authorDto.name}" required>
        <input type="text" id="urls" name="urls" th:value="${authorDto.urls}" required>
    </div>
    <button type="submit">Update Author</button>
</form>


<button onclick="location.href='/author'">Back to Author List</button>

</body>
</html>
