<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Book</title>
</head>
<body>
<h1>Update Book</h1>

<!-- 에러 메시지 출력 -->
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/book/update/{isbn}(isbn=${bookDto.isbn})}" method="post">

    <div>
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" th:value="${bookDto.isbn}" required readonly>
    </div>
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:value="${bookDto.title}" required>
    </div>
    <div>
        <label for="year">Year:</label>
        <input type="number" id="year" name="year" th:value="${bookDto.year}" required>
    </div>
    <div>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" th:value="${bookDto.category}" required>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" th:value="${bookDto.price}" required>
    </div>
    <button type="submit">Update Book</button>
</form>


<button onclick="location.href='/book'">Back to Book List</button>

</body>
</html>
