<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
<h1>Book List</h1>
<a th:href="@{/admin}" class="button">관리자 페이지</a>
<a th:href="@{/bookInsert}" class="button">입력</a>
<table border="1">
    <thead>
    <tr>
        <th>isbn</th>
        <th>title</th>
        <th>year</th>
        <th>category</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${book}">
        <td th:text="${book.isbn}">Isbn</td>
        <td th:text="${book.title}">title</td>
        <td th:text="${book.year}">year</td>
        <td th:text="${book.category}">category</td>
        <td th:text="${book.price}">price</td>
        <td>
            <a th:href="@{/book/update/{isbn}(isbn=${book.isbn})}" class="button">수정</a>
            <form th:action="@{/book/delete/{isbn}(isbn=${book.isbn})}" method="post">
                <button type="submit" class="button">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
