<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Administration</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .form-container {
            margin-bottom: 20px;
        }
        .form-container input {
            margin: 5px;
        }
    </style>
</head>
<body>
<h1>Award Administration</h1>
<div class="form-container">
    <h3>Add/Update Award</h3>
    <form id="awardForm" action = "/award/insert" method = "post">
        <input type="text" id="name" name="name" placeholder="award Name">
        <input type="text" id="year" name="year" placeholder="year">
        <input type="text" id="authorName" name="authorName" placeholder="authorName">
        <input type="text" id="bookIsbn" name="bookIsbn" placeholder="bookIsbn">
        <button type="submit">Submit</button>
    </form>
</div>
</body>
