<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Book</title>
</head>
<body>
<h1>Update Url</h1>


<form th:action="@{/url/update/{url}(url=${urlDto.url})}" method="post">

    <div>
        <label for="url">url:</label>
        <input type="text" id="url" name="url" th:value="${urlDto.url}" required readonly>
    </div>
    <div>
        <label for="address">address:</label>
        <input type="text" id="address" name="address" th:value="${urlDto.address}" required>
    </div>
    <button type="submit">Update Url</button>
</form>


<button onclick="location.href='/url'">Back to Url List</button>

</body>
</html>
