<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Basket</title>
</head>
<body>
<h1>Shopping Basket Details</h1>

<table border="1">
    <thead>
    <tr>
        <th>Basket ID</th>
        <th>Order Date</th>
        <th>Customer</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${shoppingBasket.basketId}">Basket ID</td>
        <td th:text="${shoppingBasket.orderDate}">Order Date</td>
        <td th:text="${shoppingBasket.customer.getEmail()}">Customer</td>
    </tr>
    </tbody>
</table>
</body>
</html>
