<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
</head>
<body>
<h1>Book Search</h1>

<form action="/customer/author/search" method="post">
    <div>
        <label for="authorName">Author Name:</label>
        <input type="text" id="authorName" name="authorName" placeholder="Enter author name">
    </div>

    <button type="submit">Search</button>
</form>


<form action="/customer/award/search" method="post">
    <div>
        <label for="awardName">Award Name:</label>
        <input type="text" id="awardName" name="awardName" placeholder="Enter award name">
    </div>

    <button type="submit">Search</button>
</form>

<form action="/customer/book/search" method="post">
    <div>
        <label for="title">book title:</label>
        <input type="text" id="title" name="title" placeholder="Enter book name">
    </div>

    <button type="submit">Search</button>
</form>

<h2>Customer Options</h2>
<ul>
    <li>
        <a th:href="@{|/customer/${email}/shopping-basket|}">View My Shopping Basket</a>
    </li>
    <li>
        <a th:href="@{|/customer/${email}/reservations|}">View My Reservations</a>
    </li>
</ul>

<h2>책 구매하기</h2>
<a th:href="@{|/customer/${email}/book/showAllBooks|}">책 보러 가기</a>

<h3>내 예약 보기</h3>
<a href="/customer/{email}/reservations">내 예약 보기</a>

</body>
</html>
