<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Reservations</title>
</head>
<body>
<h1>My Reserved Books</h1>

<div th:if="${books != null && books.size() > 0}">
    <h2>Reserved Books:</h2>
    <ul>
        <li th:each="book : ${books}">
            <p>Title: <span th:text="${book.title}"></span></p>
            <p>Author: <span th:text="${book.contains}"></span></p>
            <p>Year: <span th:text="${book.year}"></span></p>
            <p>Price: <span th:text="${book.price}"></span></p>
            <p>Category: <span th:text="${book.category}"></span></p>
            <p>ISBN: <span th:text="${book.isbn}"></span></p>
        </li>
    </ul>
</div>

<div th:if="${books == null || books.size() == 0}">
    <p>You have no reserved books.</p>
</div>

</body>
</html>
