<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정보 업데이트</title>
</head>
<body>

<button onclick="location.href='/book'">Book 업데이트</button>
<br><br>

<button onclick="location.href='/url'">Url 업데이트</button>
<br><br>

<button onclick="location.href='/author'">Author 업데이트</button>
<br><br>

<button onclick="location.href='/award'">Award 업데이트</button>
<br><br>

<button onclick="location.href='/wareHouse'">WareHouse 업데이트</button>
<br><br>

<button onclick="location.href='/inventory'">Inventory 업데이트</button>
<br><br>

<button onclick="location.href='/contains'">Contains 업데이트</button>
<br><br>

</body>
</html>
