<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation List</title>
</head>
<body>

<h2>Your Reservations</h2>

<table border="1">
    <thead>
    <tr>
        <th>Book Title</th>
        <th>Pickup Time</th>
        <th>Reservation Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="book : ${books}">
        <tr>
            <td>
                <span th:text="${book.title}">Book Title</span>
            </td>
            <td>
                <span th:text="${reservations.pickupTime}">Pickup Time</span>
            </td>
            <td>
                <span th:text="${reservations.reservationDate}">Reservation Date</span>
            </td>
            <td>
                <form th:action="@{/reservation/{id}/{title}/cancel(id=${reservations.id}, title=${book.title})}" method="post">
                    <button type="submit">Cancel Reservation</button>
                </form>
                <form th:action="@{/reservation/{id}/update(id=${reservations.id})}" method="post">
                    <label for="newPickupTime">New Pickup Time:</label>
                    <input type="datetime-local" id="newPickupTime" name = "newPickupTime" required>
                    <button type="submit">Update Time</button>
                </form>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>
